$boxHeight: 40px;
$boxWidth: 48px;
$overFlow: 1.2;

$offsetBotttom: 196px;

html, body {
	min-width: 1240px;
}

.size-control {
	line-height: 32px;
	.number {
		float: left;
		height: 32px;
		width: 64px;
		margin: 0 12px;
		background-color: color(green);
		overflow: hidden;
		@include border-radius(4px);
		.value {
			background-color: #fff;
			width: 48px;
			height: 100%;
			border: 1px solid color(light);
			float: left;
			text-align: center;
			@include border-radius(4px);
		}
		.controls {
			float: right;
			width: 16px;
			.plus, .minus {
				height: 16px;
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 4px;
				}
			}
			.plus {
				&:after {
					top: 2px;
					border: 4px solid transparent;	border-bottom: 4px solid #fff;
				}
				&:hover {
					&:after {
						border-bottom-color: color(yellow);
					}
				}
			}
			.minus {
				&:after {
					top: 6px;
					border: 4px solid transparent;	border-top: 4px solid #fff;
				}
				&:hover {
					&:after {
						border-top-color: color(yellow);
					}
				}
			}
		}
	}
	.price {
		font-size: 24px;
		font-weight: bold;
	}
}

.grid {
	position: absolute;
	bottom: $offsetBotttom;
	left: 50%;
	@include transform(translate(-50%,0));
	* {
		@include no-select();
	}
	table {
		table-layout: fixed;
		margin: 0 auto;
	}
	td {
		padding: 0;
		vertical-align: middle;
		text-align: center;
		.plus {
			border: none;
			width: 24px;
			height: $boxHeight;
			line-height: $boxHeight;
			vertical-align: middle;
			font-size: 20px;
			color: rgba(255,255,255,0.6);
			@include transition(color 0.3s ease);
			cursor: pointer;
			&:hover {
				color: #fff;
				background-color: transparent;
			}
		}
		.cell {
			cursor: default;
			width: $boxWidth;
			height: $boxHeight;
			border: 1px solid rgba(255,255,255,0.4);
			border-width: 0 1px 1px 0;
			position: relative;
			&.cell-x-0 {
				border-left: 1px solid rgba(255,255,255,0.4);
			}
			&.cell-y-0 {
				border-top: 1px solid rgba(255,255,255,0.4);
			}
			&:after {
				display: none;
				content: '';
				position: absolute;
				z-index: 1000;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include border-radius(3px);
				@include box-shadow(0 0 10px rgba(255,255,255,1) inset, 0 0 10px rgba(255,255,255,1));
			}
		}
		img {
			display: none;
		}
		&.area {
			background-color: rgba(255,255,255,0.4);
			@include transition(background-color 0.3s ease);
			
			&:hover {
				background-color: rgba(255,255,255,0.8);
			}
			&.selected, &.plant {
				background-image: url(../images/bak-black.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				border-color: transparent;
				position: relative;
				.cell {
					border: none;
				}
				&:after {
					display: block;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 125%;
					height: 130%;
					background-size: 100%;
					background-repeat: no-repeat;
					background-image: url(../images/shadow.png);
				}
				//@include box-shadow(5px 5px 10px rgba(0,0,0,0.5));
			}
			&.selected.plant .cell:after {
				display: block;
			}
			&.plant img {
				display: block;
				position: absolute;
				z-index: 10;
				top: 50%;
				left: 50%;
				width: $boxWidth * $overFlow;
				pointer-events: none;
				@include transform(translate(-50%,-50%));
			}
		}
	}
	
}

.canvas {
	overflow: hidden;
	position: relative;
	.picture {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-position: center center;
		.bg {
			position: absolute;
			bottom: 0;
			left: 50%;
			@include transform(translate(-50%,0));
		}
	}
	.bottom-bak {
		background-color: #333;
		background-image: url('../images/bak-stone.png');
		background-repeat: repeat-x;
		position: relative;
		margin-left: 24px;
		@include box-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
	}
	.controls {
		margin-top: 40px;
		.bottom {
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
		}
	}
	.control-top {
		position: relative;
	}
	.control {
		position: relative;
		width: 100px;
		padding: 7px;
		@include border-radius(50px);
		background-color: rgba(255,255,255,0.4);
		.inner {
			@include border-radius(50px);
			background-color: color(green);
		}
		
		&.control-left {
			float: left;
		}
		&.control-right {
			float: right;
		}
		.title {
			text-align: center;
			padding: 20px 5px;
			font-size: 10px;
			line-height: 14px;
			color: #fff;
			text-transform: uppercase;
		}
		.presets {
			background-color: #fff;
			padding: 12px 0;
			@include border-radius(50px);
			.item {
				padding: 0 5px;
				text-align: center;
				margin-bottom: 20px;
				img {
					width: 64px;
					height: 64px;
					@include border-radius(100%);
				}
				.item-title {
					margin-top: 8px;
					font-size: 10px;
					line-height: 14px;
					text-transform: uppercase;
				}
			}
		}
	}
	.control-horizontal {
		padding: 7px 0;
		background-color: rgba(0,0,0,0.6);
		margin: 0 auto;
		overflow: hidden;
		height: 114px;
		width: 900px;
		.presets {
			overflow: hidden;
			* {
				@include no-select();
			}
			.item {
				width: 100px;
				height: 110px;
				float: left;
				text-align: center;
				img {
					width: 64px;
					height: 64px;
					pointer-events: none;
				}
				.item-title {
					color: #fff;
					margin-top: 8px;
					font-size: 10px;
					line-height: 14px;
					text-transform: uppercase;
				}
			}
		}
	}
}

.canvas.plain {
	.grid {
		table {
			td {
				&.area {
					background-color: transparent;
				}
				.plus {
					color: transparent;
				}
				.cell {
					border: none;
				}
			}
		}
	}
}

.carousel {
	position: relative;
	overflow: hidden;
	height: 100px;
	.carousel-wrapper {
		position: relative;
		overflow: hidden;
		height: 100px;
		float: left;
	}
	.carousel-content {
		position: absolute;
		left: 0;
		top: 0;
		height: 100px;
		&.static {
			@include transition(left 0.3s ease);
		}
	}
	.nav {
		height: 100px;
		width: 50px;
		float: left;
		cursor: pointer;
		text-align: center;
		line-height: 100px;
		color: #fff;
		font-size: 20px;
		&.disabled {
			color: rgba(255,255,255,0.4);
		}
	}
}

$height: 720px;
$ratio: 1.777777777;

$zoom1: 1.25;
$zoom2: 1.5;

@media screen and (max-width: 1349px) {
	.canvas {
		height: $height;
		.picture .bg {
			height: $height;
			width: $height * $ratio;
		}
		.grid {
			bottom: 205px;
		}
		.bottom-bak {
			height: $boxHeight;
			@for $i from 1 through 15 {
				&.offset-#{$i} {
					left: $boxWidth*$i;
				}
			}
			@for $i from 1 through 30 {
				&.width-#{$i} {
					width: $boxWidth*$i;
				}
			}
		}
	}
}
@media screen and (min-width: 1350px) {
	.canvas {
		height: $height * $zoom1;
		.picture .bg {
			height: $height * $zoom1;
			width: $height * $zoom1 * $ratio;
		}
		.grid {
			bottom: 260px;
			td {
				.plus {
					height: $boxHeight * $zoom1;
				}
				.cell {
					width: $boxWidth * $zoom1;
					height: $boxHeight * $zoom1;
				}
				&.area.plant img {
					width: $boxWidth * $overFlow * $zoom1;
				}
			}
		}
		.bottom-bak {
			height: $boxHeight * $zoom1;
			@for $i from 1 through 15 {
				&.offset-#{$i} {
					left: $boxWidth * $zoom1 * $i;
				}
			}
			@for $i from 1 through 30 {
				&.width-#{$i} {
					width: $boxWidth * $zoom1 * $i;
				}
			}
		}
	}
}
@media screen and (min-width: 1850px) {
	.canvas {
		height: $height * $zoom2;
		.picture .bg {
			height: $height * $zoom2;
			width: $height * $zoom2 * $ratio;
		}
		.grid {
			bottom: 315px;
			td {
				.plus {
					height: $boxHeight * $zoom2;
				}
				.cell {
					width: $boxWidth * $zoom2;
					height: $boxHeight * $zoom2;
				}
				&.area.plant img {
					width: $boxWidth * $overFlow * $zoom2;
				}
			}
		}
		.bottom-bak {
			height: $boxHeight * $zoom2;
			@for $i from 1 through 15 {
				&.offset-#{$i} {
					left: $boxWidth * $zoom2 * $i;
				}
			}
			@for $i from 1 through 30 {
				&.width-#{$i} {
					width: $boxWidth * $zoom2 * $i;
				}
			}
		}
	}
}