//Original Sizes
$originalBoxWidth: 290px;
$originalBoxHeight: 340px;
$originalPlantWidth: 631px;

$boxHeight: $originalBoxHeight/10;
$boxWidth: $originalBoxWidth/10;
$bakHeight: 42px;
$overFlow: percentage($originalPlantWidth/$originalBoxWidth);

$offsetBotttom: 196px;

html, body {
	min-width: 1240px;
}

.invisible {
	visibility: hidden;
}

.size-control {
	line-height: 32px;
	.number {
		float: left;
		height: 32px;
		width: 64px;
		margin: 0 12px;
		background-color: color(green);
		overflow: hidden;
		@include border-radius(4px);
		.value {
			background-color: #fff;
			width: 48px;
			height: 100%;
			border: 1px solid color(light);
			float: left;
			text-align: center;
			@include border-radius(4px);
		}
		.controls {
			float: right;
			width: 16px;
			.plus, .minus {
				height: 16px;
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 4px;
				}
			}
			.plus {
				&:after {
					top: 2px;
					border: 4px solid transparent;	border-bottom: 4px solid #fff;
				}
				&:hover {
					&:after {
						border-bottom-color: color(yellow);
					}
				}
			}
			.minus {
				&:after {
					top: 6px;
					border: 4px solid transparent;	border-top: 4px solid #fff;
				}
				&:hover {
					&:after {
						border-top-color: color(yellow);
					}
				}
			}
		}
	}
	.price {
		font-size: 24px;
		font-weight: bold;
	}
}

.grid {
	position: absolute;
	z-index: 1000;
	bottom: $offsetBotttom;
	left: 50%;
	@include transform(translate(-50%,0));

	.bottom-bak {
		position: relative;
		margin-left: 40px;
		margin-top: 10px;
		.back-image {
			height: 100%;
			background-color: #333;
			background-repeat: repeat-x;
			background-size: contain;
			@include box-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
		}
	}
	
	.td {
		padding: 0;
		vertical-align: middle;
		text-align: center;
		line-height: $boxHeight;
		vertical-align: middle;
		float: left;
		
		.cell {
			cursor: default;
			position: relative;
			border: 1px solid rgba(255,255,255,0.4);
			border-width: 1px 0 0 1px;
			width: $boxWidth;
			height: $boxHeight;
			text-align: center;

			&:after {
				display: none;
				content: '';
				position: absolute;
				z-index: 1000;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include border-radius(3px);
				@include box-shadow(0 0 10px rgba(255,255,255,1) inset, 0 0 10px rgba(255,255,255,1));
			}
		}

		&:first-child {
			.cell {
				border-left: none;
			}
		}

		.plus {
			vertical-align: middle;
			font-size: 20px;
			color: rgba(255,255,255,0.6);
			cursor: pointer;
			@include transition(color 0.3s ease);
			&:hover {
				color: #fff;
				background-color: transparent;
			}
		}
		
		img {
			display: none;
		}

		&.area {
			background-color: rgba(255,255,255,0.2);
			@include transition(background-color 0.3s ease);

			&:hover {
				background-color: rgba(255,255,255,0.8);
			}
			&.selected, &.plant {
				background-color: #555;
				background-image: url(../images/box.png);
				background-size: cover;
				background-repeat: no-repeat;
				border-color: transparent;
				position: relative;
			}
			&.selected.plant .cell:after {
				display: block;
			}
			&.plant {
				img {
					display: block;
					position: absolute;
					z-index: 10;
					bottom: 0;
					left: 50%;
					width: $overFlow;
					pointer-events: none;
					@include transform(translate(-50%,0));
				}
			}
		}
	}
	.tr {
		&:after {
			display: block;
			content: '';
			clear: both;
		}
		&:first-child {
			.td .cell {
				border-top: none;
			}
		}
	}

}

#canvas {
	.bg.custom, .zoom {
		display: none;
	}
	&.custom-bg {
		.zoom {
			display: block;
		}
		.bg.default {
			display: none;
		}
		.bg.custom {
			display: block;
		}
	}
}

.canvas {
	* {
		@include no-select();
	}
	overflow: hidden;
	position: relative;
	background-color: #ccc;
	.picture {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-position: center center;
		.bg {
			width: auto;
			position: absolute;
			bottom: 0;
			user-drag: none;
			-webkit-user-drag: none;
			&.default {
				left: 50%;
				@include transform(translate(-50%,0));
			}
			&.custom {
				z-index: 10;
				cursor: move;
			}
		}
		.moving {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
		}
	}
	.controls {
		margin-top: 20px;
		position: relative;
		overflow: hidden;
		.bottom-control {
			position: absolute;
			z-index: 1100;
			bottom: 32px;
			width: 100%;
			@include transition(all 0.3s ease);
			&.slide-right {
				left: -100%;
				@include opacity(0);
				&.active {
					left: 0;
					@include opacity(1);
				}
			}
			&.slide-left {
				right: -100%;
				@include opacity(0);
				&.active {
					right: 0;
					@include opacity(1);
				}
			}

		}
	}
	.control-top {
		position: absolute;
		right: 167px;
		z-index: 1200;
		a {
			margin-left: 8px;
		}
		.zoom {
			float: left;
			margin-top: 20px;
			input {
				width: 320px;
				margin-right: 20px;
			}
			
		}
	}
	.control {
		position: relative;
		z-index: 2000;
		width: 100px;
		padding: 7px;
		@include border-radius(50px);
		background-color: rgba(255,255,255,0.4);
		.inner {
			@include border-radius(50px);
			background-color: color(green);
		}

		&.control-left {
			float: left;
		}
		&.control-right {
			float: right;
		}
		.title {
			text-align: center;
			padding: 20px 5px;
			font-size: 10px;
			line-height: 14px;
			color: #fff;
			text-transform: uppercase;
		}
		.presets {
			background-color: #fff;
			padding: 12px 0;
			@include border-radius(50px);
			.item {
				padding: 0 5px;
				text-align: center;
				margin-bottom: 20px;
				.img, img{
					width: 64px;
					height: 64px;
					overflow: hidden;
					@include border-radius(100%);
					cursor: pointer;
				}
				.img {
					margin: 0 auto;
					position: relative;
					.icon {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0,0,0,0.4);
						color: #fff;
						font-size: 32px;
						line-height: 64px;
						text-align: center;
						@include transition(background-color 0.3s ease);
						&:hover {
							background-color: rgba(0,0,0,0.1);
						}
					}
				}
				.item-title {
					margin-top: 8px;
					font-size: 10px;
					line-height: 14px;
					text-transform: uppercase;
					min-height: 2.5em;
				}
			}
			.divider {
				height: 2px;
				background-color: color(green);
				margin: 30px 10px;
			}
		}
	}
	.control-horizontal {
		padding: 7px 0;
		background-color: rgba(0,0,0,0.6);
		margin: 0 auto;
		overflow: hidden;
		height: 114px;
		width: 900px;
		.presets {
			overflow: hidden;
			.item {
				width: 100px;
				height: 110px;
				float: left;
				text-align: center;
				img {
					width: 64px;
					height: 64px;
					pointer-events: none;
				}
				.item-title {
					color: #fff;
					margin-top: 8px;
					font-size: 10px;
					line-height: 14px;
					text-transform: uppercase;
				}
			}
		}
	}
	.plants .presets .item img {
		width: 45px;
		height: 64px;
	}
}


.canvas.plain {
	.grid {
		.stand {
			.td {
				.cell {
					border-color: transparent;
					&.plus {
						visibility: hidden;
					}
				}
				&.area {
					background-color: transparent;
				}
				&.selected, &.plant {
					background-color: #555;
				}
			}
		}
	}
}

.carousel {
	position: relative;
	overflow: hidden;
	height: 100px;
	.carousel-wrapper {
		position: relative;
		overflow: hidden;
		height: 100px;
		float: left;
	}
	.carousel-content {
		position: absolute;
		left: 0;
		top: 0;
		height: 100px;
		&.static {
			@include transition(left 0.3s ease);
		}
	}
	.nav {
		height: 100px;
		width: 50px;
		float: left;
		cursor: pointer;
		text-align: center;
		line-height: 100px;
		color: #fff;
		font-size: 20px;
		&.disabled {
			color: rgba(255,255,255,0.4);
		}
	}
}

.custom-image {
	position: relative;
}
#custom-room {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	@include opacity(0);
}

$height: 720px;
$ratio: 1.777777777;

$zoom1: 1.25;
$zoom2: 1.5;

@media screen and (max-width: 1349px) {
	.canvas {
		height: $height;
		.picture .bg {
			height: $height;
		}
		.grid {
			bottom: 137px;
		}
		.bottom-bak {
			height: $bakHeight;
			margin-left: $boxWidth;
			@for $i from 1 through 15 {
				&.offset-#{$i} {
					left: ($boxWidth) * $i;
				}
			}
			@for $i from 1 through 30 {
				&.width-#{$i} {
					width: ($boxWidth) * $i;
				}
			}
		}
	}
}
@media screen and (min-width: 1350px) {
	.canvas {
		height: $height * $zoom1;
		.controls {
			margin-top: 108px;
		}
		.picture .bg {
			height: $height * $zoom1;
		}
		.grid {
			bottom: 171px;
			.td .cell {
				width: $boxWidth * $zoom1;
				height: $boxHeight * $zoom1;
			}
		}
		.bottom-bak {
			height: $bakHeight * $zoom1;
			margin-left: $boxWidth * $zoom1;
			@for $i from 1 through 15 {
				&.offset-#{$i} {
					left: $boxWidth * $zoom1 * $i;
				}
			}
			@for $i from 1 through 30 {
				&.width-#{$i} {
					width: $boxWidth * $zoom1 * $i;
				}
			}
		}
	}
}
@media screen and (min-width: 1850px) {
	.canvas {
		height: $height * $zoom2;
		.controls {
			margin-top: 180px;
		}
		.picture .bg {
			height: $height * $zoom2;
		}
		.grid {
			bottom: 205px;
			.td .cell {
				width: $boxWidth * $zoom2;
				height: $boxHeight * $zoom2;
			}
		}
		.bottom-bak {
			height: $bakHeight * $zoom2;
			margin-left: $boxWidth * $zoom2;
			@for $i from 1 through 15 {
				&.offset-#{$i} {
					left: $boxWidth * $zoom2 * $i;
				}
			}
			@for $i from 1 through 30 {
				&.width-#{$i} {
					width: $boxWidth * $zoom2 * $i;
				}
			}
		}
	}
}