$boxHeight: 40px;
$boxWidth: 40px;
$overFlow: 10px;

$offsetBotttom: 196px;

.size-control {
	line-height: 32px;
	.number {
		float: left;
		height: 32px;
		width: 64px;
		margin: 0 12px;
		background-color: color(green);
		overflow: hidden;
		@include border-radius(4px);
		.value {
			background-color: #fff;
			width: 48px;
			height: 100%;
			border: 1px solid color(light);
			float: left;
			text-align: center;
			@include border-radius(4px);
		}
		.controls {
			float: right;
			width: 16px;
			.plus, .minus {
				height: 16px;
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 4px;
				}
			}
			.plus {
				&:after {
					top: 2px;
					border: 4px solid transparent;	border-bottom: 4px solid #fff;
				}
				&:hover {
					&:after {
						border-bottom-color: color(yellow);
					}
				}
			}
			.minus {
				&:after {
					top: 6px;
					border: 4px solid transparent;	border-top: 4px solid #fff;
				}
				&:hover {
					&:after {
						border-top-color: color(yellow);
					}
				}
			}
		}
	}
	.price {
		font-size: 24px;
		font-weight: bold;
	}
}

.canvas {
	overflow: hidden;
	position: relative;
	height: 800px;
	.picture {
		height: 800px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		.background {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 100%;
			@include transform(translate(-50%,0));
		}
		.grid {
			position: absolute;
			bottom: $offsetBotttom;
			left: 50%;
			@include transform(translate(-50%,0));
			table {
				table-layout: fixed;
				margin: 0 auto;
				td {
					padding: 0;
					vertical-align: middle;
					text-align: center;
					border-color: rgba(255,255,255,0.4);
					&.plus {
						border: none;
						width: $boxWidth;
						font-size: 20px;
						color: rgba(255,255,255,0.6);
						@include transition(color 0.3s ease);
						cursor: pointer;
						&:hover {
							color: #fff;
							background-color: transparent;
						}
					}
					.cell {
						cursor: default;
						width: $boxWidth;
						height: $boxHeight;
						@include transition(background-color 0.3s ease);
						position: relative;
						&:after {
							display: none;
							content: '';
							position: absolute;
							z-index: 1000;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							@include border-radius(3px);
							@include box-shadow(0 0 10px rgba(255,255,255,1) inset, 0 0 10px rgba(255,255,255,1));
						}
					}
					img {
						display: none;
					}
					&.box {
						background-image: url(../images/bak-black.jpg);
						background-size: cover;
						background-repeat: no-repeat;
						border: none;
						position: relative;
						&.selected .cell:after {
							display: block;
						}
						img {
							display: block;
							position: absolute;
							z-index: 10;
							top: 50%;
							left: 50%;
							max-width: $boxWidth + $overFlow;
							@include transform(translate(-50%,-50%));
						}
					}
					&:hover {
						background-color: #555;
					}
				}
			}
			
		}
		.bottom-bak {
			height: $boxHeight;
			background-image: url('../images/bak-stone.png');
			background-repeat: repeat-x;

			position: relative;
		}
	}
	.controls {
		position: relative;
		margin-top: 40px;
	}
	.control {
		width: 100px;
		padding: 7px;
		@include border-radius(50px);
		background-color: rgba(255,255,255,0.4);
		.inner {
			@include border-radius(50px);
			background-color: color(green);
		}
		&.control-left {
			float: left;
		}
		&.control-right {
			float: right;
		}
		.title {
			text-align: center;
			padding: 20px 5px;
			font-size: 10px;
			line-height: 14px;
			color: #fff;
			text-transform: uppercase;
		}
		.presets {
			background-color: #fff;
			padding: 12px 0;
			@include border-radius(50px);
			.item {
				padding: 0 5px;
				text-align: center;
				margin-bottom: 20px;
				img {
					width: 64px;
					height: 64px;
					@include border-radius(100%);
				}
				.item-title {
					margin-top: 8px;
					font-size: 10px;
					line-height: 14px;
					text-transform: uppercase;
				}
			}
		}
	}
	.control-horizontal {
		padding: 7px;
		background-color: rgba(0,0,0,0.4);
		margin: 0 120px;
		.presets {
			overflow: hidden;
			.item {
				width: 100px;
				height: 110px;
				float: left;
				text-align: center;
				img {
					width: 64px;
					height: 64px;
				}
				.item-title {
					color: #fff;
					margin-top: 8px;
					font-size: 10px;
					line-height: 14px;
					text-transform: uppercase;
				}
			}
		}
	}
}