/* line 3, ../sass/styled.scss */
.button-styled-1 {
  position: relative;
  font-size: 14px;
  line-height: 1;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: inline-block;
  outline: none;
  padding: 16px 32px;
  border: 1px solid #fff;
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}
/* line 24, ../sass/styled.scss */
.button-styled-1:before {
  position: absolute;
  content: '';
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  right: -100%;
  bottom: 0%;
  width: 200%;
  height: 200%;
  background: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: skewX(-60deg);
  -ms-transform: skewX(-60deg);
  -webkit-transform: skewX(-60deg);
  transform: skewX(-60deg);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -1;
}
/* line 42, ../sass/styled.scss */
.button-styled-1:hover {
  color: #000;
}
/* line 44, ../sass/styled.scss */
.button-styled-1:hover:before {
  bottom: -100%;
  right: -200%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
