.btn {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	display: inline-block;
	font-size: 14*$pt;
	border-width: 0px;
	padding: 11*$pt 16*$pt;
	cursor: pointer;
	outline: none;
	border: 1px solid transparent;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	@include transition(color 0.25s ease, background-color 0.25s ease, box-shadow 0.25s ease);
	@include no-select();
	i {
		margin-right: 8*$pt;
		top: 0;
	}
	&[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
		.ink {
			display: none;
		}
	}
}

button.btn, input[type="button"].btn, input[type="submit"].btn {
	vertical-align: top;
}

.btn-red {
	@include border-radius(3px);
	color: #fff;
	text-transform: uppercase;
	background-color: #ca0039;
	border-bottom: 5px solid #9c002b;
	@include box-shadow(1px 1px 3px rgba(0,0,0,0.4));
}